<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174736859153-t429oots0mv8ibr2374hn6o75t6tag7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174736859153-t429oots0mv8ibr2374hn6o75t6tag7o</string>
	<key>API_KEY</key>
	<string>AIzaSyA4F5GNRRlk2xrZFqG604x5H1ESYY4cnB0</string>
	<key>GCM_SENDER_ID</key>
	<string>174736859153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokioTest</string>
	<key>PROJECT_ID</key>
	<string>tokiotest-4c1ca</string>
	<key>STORAGE_BUCKET</key>
	<string>tokiotest-4c1ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174736859153:ios:0ee747e790250e196211b0</string>
</dict>
</plist>